@page
@model Nikaman.Pages.OffersPanel.IndexModel
@{
}

<br />
<h2>List of Clients</h2>
<a class="btn btn-primary btn-sm" href="/Clients/Create">New Client</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
</table>