@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lugrasimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link href="~/css/MainPage.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <header>
        <a class="logo" href="#">
            Nikaman
            <img src="/imgs/logovadik.png" />
        </a>
        <ul class="navlist">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Reels</a></li>
            <li><a href="#">Support me</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon">

        </div>
    </header>
    <section class="hero">
        <div class="hero-text">
            <h2>Hi, I'm Nikaman</h2>
            <h3>Anime editor</h3>
            <p>I very like anime, especially One Piece, and I'm really into anime edits. Nice to meet you!</p>
            <div class="hero-links">
                <a class="beautiful-link" href="/OfferForm/Index">Hire me</a>
                <a class="beautiful-link">My Portfolio</a>
            </div>
            <div class="hero-sm">
                <a href="https://www.instagram.com/nikaman.edits/" target="_blank"><i class="ri-instagram-fill"></i></a>
                <a href="https://www.youtube.com/Nikaman_edits" target="_blank"><i class="ri-youtube-fill"></i></a>
            </div>
        </div>

        <div class="hero-img">
            <img  />
        </div>
    </section>

    <section class="my-works">
        <h1>My works</h1>
        <div class="my-works-ex">
            <img />
            <img  />
            <img  />
            <img />
        </div>
        <a class="beautiful-link">See more</a>
    </section>

    <section class="services">
        <h2>My <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class="ri-vip-diamond-line"></i>
                <h3>Anime Edits</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a href="#" class="beautiful-link">Read More</a>
            </div>

            <div class="services-box">
                <i class="ri-video-add-line"></i>
                <h3>Video Making</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a href="#" class="beautiful-link">Read More</a>
            </div>

            <div class="services-box">
                <i class="ri-camera-lens-line"></i>
                <h3>Photoshop</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a href="#" class="beautiful-link">Read More</a>
            </div>
        </div>
    </section>


    <section class="offer">
        <p>Let Me Make You An Epic Edit</p>
        <a class="beautiful-link" href="/OfferForm/Index">Hire me</a>
    </section>

    <div style="height:40px;"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>